*.pyc
*.pyo
*.pyd
.cache
__pycache__
.pytest_cache
.ipynb_checkpoints
.vscode
*.egg-info/

implement-tasks/*
testing/nature/*
testing/cell/*
testing/pubmed/time_measurement/*
testing/pubmed/json/*
testing/pubmed/pdf/*
testing/pubmed/csv/*
final-report/*
data/*
scripts/tmp/*

create_report.sh